<h3>上传讲稿</h3>

<div class="row slide-form-container">
  <%= form_tag 'http://upload.qiniu.com/', method: :post, id: 'upload_form', multipart: true do %>
    <div class="col-md-6">
      <input name="token" type="hidden" value="<%= @uptoken %>">
      <input name="key" type="hidden" value=<%= @resource_key %>>

      <div class="form-group">
        <label for="x:title">请告诉我们您的讲稿的标题</label>
        <input name="x:title" type="text" placeholder='讲稿标题' class='form-control' required id='x:title' autofocus>
      </div>

      <div class="form-group">
        <label for="x:description">请简单介绍您的讲稿的主要内容</label>
        <textarea name="x:description" placeholder='讲稿简介' class='form-control' required id='x:description'></textarea>
      </div>
    </div>

    <div class="col-md-6">
      <div class="form-group">
        <button id='select_file' class='btn btn-primary'>
          选择上传文件
        </button>
        <br>
        <small>注意：目前仅支持PDF格式文件</small>

        <input name="file" type="file" id='file' class: 'form-control' accept='application/pdf' required />

        <div class="progress progress-striped active" id='upload_progress_bar'>
          <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0%">
          </div>
        </div>
      </div>

      <div class="form-group">
        <label for="x:category_id">选择分类</label>
        <%= select_tag 'x:category_id', options_from_collection_for_select(Category.all, :id, :name, Category.first), class: 'form-control', id: 'x:category_id', required: true %>
      </div>

      <div class="form-group">
        <input name="x:downloadable" type="checkbox" id='x:downloadable'>
        <label for="x:downloadable">允许其他用户下载</label>
      </div>
    </div>

    <div style='text-align: center;'>
      <%= link_to "上传", '#upload', id: 'upload', class: 'btn btn-primary btn-lg', data: { 'disable-with' => '正在上传' } %>
    </div>
  <% end %>
</div>
