<header>
  <nav class="navbar navbar-inverse" role="navigation">
    <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-5">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        </button>
        <%= link_to root_path, class: 'navbar-brand' do %>
          讲稿网
          <small class='navbar-brand-desc'>让智慧流动</small>
        <% end %>
      </div>

      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-5">
        <ul class="nav navbar-nav navbar-right">
          <% if current_user %>
            <%= render "shared/signed_in_user_navbar_items" %>
          <% else %>
            <%= render "shared/guest_user_navbar_items" %>
          <% end %>

          <li>
            <%= form_tag search_slides_path, method: :get, class: "navbar-form navbar-right", role: "search" do |f| %>
            <form >
              <div class="form-search search-only">
                <i class="search-icon glyphicon glyphicon-search"></i>
                <%= text_field_tag :keyword, @keyword, placeholder: "搜索讲稿", class: "form-control search-query" %>
              </div>
            <% end %>
          </li>
        </ul>
      </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
  </nav>
</header>
