<header>
  <nav class="navigation">
    <div class="nav-logo">
      <%= link_to root_path, class: "" do %>
        <%= image_tag "logo.png" %>
        <span>讲稿网</span>
      <% end %>

      <ul class="menu-list">
        <li><a href="#">首页</a></li>
        <li><a href="#">活动</a></li>
        <li><a href="#">标签</a></li>
      </ul>

      <div class="search-area">
        <%= form_tag search_slides_path, method: :get, class: "", role: "search" do |f| %>
        <form >
          <div class="search-speech">
            <%= text_field_tag :keyword, @keyword, placeholder: "输入关键字搜索" %>
            <%= image_tag "icon.png" %>
          </div>
        <% end %>
      </div>

    </div>

    <div class="nav-menu">
      <ul class="per-list">
        <% if current_user %>
          <%= render "shared/signed_in_user_navbar_items" %>
        <% else %>
          <%= render "shared/guest_user_navbar_items" %>
        <% end %>

        <li>
        </li>
      </ul>
    </div>
  </nav>
</header>
