<li>
  <%= link_to new_slide_path do  %>
    <span class = "update-speech">上传</span>
    <%= image_tag "Shape.png" %>
  <% end %>
</li>

<li>
  <a href="#">
    <span class = "update-username"><%= current_user.name %></span>
    <%= image_tag "user.png" %>
  </a>
  <ul class="hide">
    <li>
      <%= link_to profile_path do %>
      <%= image_tag "mine.png" %>
        我的主页
      <% end %>
    </li>
    <li>
      <%= link_to edit_profile_path do %>
      <%= image_tag "p-detail.png" %>
        个人资料
      <% end %>
    </li>

    <li class="divider"></li>
    <li>
      <%= link_to logout_path, method: :delete do %>
      <%= image_tag "exit.png" %>
        退出登录
      <% end %>
    </li>
  </ul>
</li>
