<ul class="pure-menu-list pure-u-1 pure-u-md-5-24 pure-u-lg-5-24 header-user">
  <li class="pure-menu-item">
    <%= link_to choose_events_path, class: 'pure-menu-link' do %>
      上传<span class="md-hidden">讲稿</span> <i class="icon-upload"></i>
    <% end %>
  </li>
  <li class="pure-menu-item pure-menu-has-children pure-menu-allow-hover">
    <a href="#" id="menuLink1" class="pure-menu-link">
      <%= current_user.name %> <i class="icon-user"></i>
    </a>
    <ul class="pure-menu-children">
      <li class="pure-menu-item">
        <%= link_to profile_path, class: 'pure-menu-link icon-menu' do %>
          我的主页
        <% end %>
      </li>
      <li class="pure-menu-item">
        <%= link_to edit_profile_path, class: 'pure-menu-link icon-edit' do %>
          个人资料
        <% end %>
      </li>
      <li class="pure-menu-item">
        <%= link_to logout_path, method: :delete, class: 'pure-menu-link icon-logout' do %>
          退出登录
        <% end %>
      </li>
    </ul>
  </li>
</ul>
