<% content_for :title do %>
  首页
<% end %>

<div class="col-md-12">
  <% if @newest_slides && @newest_slides.any? %>
    <div id="newest-slides" class='category-featured'>
      <div>
        <%= link_to newest_categories_path do %>
         <span class="category-title">最新讲稿</span>
        <% end %>
        <%= render 'slides/slides', slides: @newest_slides %>
      </div>
    </div>
  <% end %>

  <% @featured_categories.each do |category| %>
    <div id='<%= dom_id category %>' class='category-featured'>
      <div>
        <%= link_to category do %>
         <span class='category-title'><%= category.name %></span>
        <% end %>
      </div>

      <%= render 'slides/slides', slides: category.slides.hotest.limit(3) %>
    </div>
  <% end %>
</div>
