<div class="col-md-3 categories-sidebar">
  <h4>浏览</h4>

  <%= render 'shared/categories_list' %>
</div>

<div class="col-md-9">
  <% @featured_categories.each do |category| %>
    <div id='<%= dom_id category %>' class='category-featured'>
      <div>
        <span class='category-title'><%= category.name %></span>

        <span class="more">
          <%= link_to category do %>
            更多 <span class="glyphicon glyphicon-chevron-right"></span>
          <% end %>
        </span>
      </div>

      <div class="row">
        <% category.slides.hotest.limit(3).each do |slide| %>
          <%= render slide %>
        <% end %>
      </div>
    </div>
  <% end %>
</div>
