<li class="pure-u-1 pure-u-md-1-2 pure-u-lg-1-4 card-list-item">
  <figcaption class="card">
    <header class="card-header">
      <%= link_to link = link || event_path(event), class: "card-img" do %>
        <%= image_tag event.cover.url, alt: event.header %>
      <% end %>
    </header>
    <footer class="card-footer">
      <figure class="card-title">
        <%= link_to event.header, event_path(event) %>
      </figure>
      <time class="card-date">
        <%= l event.start_at.to_date, format: :long %>
        ~
        <%= l event.end_at.to_date, format: :long %>
      </time>
    </footer>
  </figcaption>
</li>
