<%= form_for event, html: {id: 'create_or_edit_event_form'} do |f| %>

  <% if event.errors.any? %>
    <div id="error_explanation">
      <h2>抱歉，有<%= pluralize(event.errors.count, "error") %>处错误</h2>

      <ul>
      <% event.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="col-md-8">
    <div class="form-group">
      <%= f.label :header, "活动主题", for: "header" %>
      <%= f.text_field :header, placeholder: '活动主题', class: "form-control", required: true, id: "header", autofocus: true %>
    </div>

    <div class="form-group">
      <%= f.label :content, "活动详情", for: "content" %>
      <%= f.text_area :content, placeholder: "活动详情", cols: 10, rows: 10, class: "form-control", required: true, id: "event-content" %>
    </div>

    <div class="form-group">
      <%= f.submit "保存", class: "btn btn-primary" %>
    </div>
  </div>

  <div class="col-md-4">
    <div class="form-group">
      <%= f.label :cover, "上传活动封面" %>
      <%= f.file_field :cover, accept: 'image/gif, image/png, image/jpeg', required: false, class: "form-control" %>
      <small>注意：目前仅支持JGP/GIF/PNG格式文件</small>
    </div>

    <div class="form-group">
      <%= f.label :start_at, "活动开始时间", for: "start_at" %>
      <%= f.date_field :start_at, placeholder: "活动开始时间", class: "form-control", required: true, id: "event-start_at" %>
    </div>

    <div class="form-group">
      <%= f.label :end_at, "活动结束时间", for: "end_at" %>
      <%= f.date_field :end_at, placeholder: "活动结束时间", class: "form-control", required: true, id: "event-end_at" %>
    </div>
  </div>
<% end %>
