<% content_for :title do %>
  <%= @event.header %>, <%= @event.content.truncate(20) %>
<% end %>

<div id="event-show-page">
  <div class="row">
    <div class="col-md-8">
      <% if @event.cover.present? %>
      <div class="event-cover">
        <%= image_tag @event.cover.medium.url %>
      </div>
      <% end %>
      <div class="slide-infos">
        <h4><%= @event.header %></h4>
        <p><%= @event.content %></p>
      </div>
    </div>

    <div class="col-md-4 slide-page-sidebar">
      <div class="author-infos">

        <div class="">
          <%= @event.start_time %> - <%= @event.end_time %>
        </div>

        <div>
          讲稿数量： <%= @event.slides.count %>
        </div>

        <div>
          <%= link_to "上传讲稿", new_slide_path(event_id: @event.id) %>
        </div>

        <% if @event.creator == current_user %>
          <div>
            <%= link_to "编辑", edit_event_path(@event) %>
          </div>
          <div>
            <%= link_to "删除", event_path(@event), method: :delete, data: { toggle: 'tooltip', confirm: "确认删除？" } %>
          </div>
        <% end %>
      </div>
    </div>
  </div>

  <div class="col-md-12">
    <% if @slides.any? %>
      <div id="newest-slides" class='category-featured'>
        <div>
          <span class="category-title">讲稿</span>
          <%= render 'slides/slides', slides: @slides %>
        </div>
      </div>
    <% else %>
      暂无讲稿。 点击<%= link_to "上传讲稿", new_slide_path(event_id: @event.id) %>
    <% end %>
    <div class="row text-center">
      <%= paginate @slides %>
    </div>
  </div>
</div>
