<!DOCTYPE html xmlns:wb=“http://open.weibo.com/wb”>
<html>
<head>
  <title>讲稿网 <%= yield :title %></title>
  <meta property="wb:webmaster" content="d441cc363f121e87" />

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <script src="http://tjs.sjs.sinajs.cn/open/api/js/wb.js" type="text/javascript" charset="utf-8"></script>
  <script>var Jianggaowang = {};</script>
  <%= csrf_meta_tags %>
</head>
<body id='<%= controller_name %>_<%= action_name %>'>
  <%= render 'shared/header' %>

  <%= render 'shared/flash_messages' %>

  <div class="container-fluid" id='content'><%= yield %></div>
  <%= render 'shared/footer' %>

  <%= yield :additional_javascript %>
</body>
</html>
